<article id=id>
  <header>
    <h1 class="title">{{title}}</h1>
  </header>

  <main>
    {{body}}
  </main>

  <footer>
    <p>
      Posted in
      <span class="category">{{category}}</span>
      <span class="date">{{formattedDate}}</span>.
    </p>
    {{#if tags}}
      <p>Tags: {{tags}}</p>
    {{/if}}
  </footer>
</article>
